* {
    box-sizing: border-box;
}

body {
    margin-top: 140px;
    padding-bottom: 50px;
    background-image: url("../img/background.jpg");
    background-size: cover;
    background-repeat: repeat-y;
}

header {
    padding-top: 40px;
    padding-bottom: 40px;
    position: fixed;
    top: 0;
    background-color: white;
    width: 100%;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .8);
}

input {
    display: block;
    width: 460px;
    margin:  auto;
    height: 2em;
}

#container {
    display: block;
    text-align: center;
    height: 780px;
    width: 1040px;
    margin: 0 auto;
}

img {
    width: 100%;
}

.thumbnail {
    float: left;
    display: inline-block;
    height: 230px;
    width: 230px;
    margin: 15px;
    border: 15px solid rgba(255, 250, 235, 1);
    box-shadow: 5px 5px 3px rgba(0,0,0,0.6);
}

#overlay {
    background: rgba(0,0,0,0.85);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: none;

}
#polaroid {
    background-color: rgb(251, 246, 229);
    text-align: center;
    width: 640px;
    height: 530px;
    margin-top: 7%;
    margin-right: auto;
    margin-left: auto;
    padding: 20px;
    border-radius: .7%;
}


#largeimg {
    width: 600px;
}

.caption {
    text-align: left;
    margin-top: 0;
    font-family: 'Nothing You Could Do', cursive;
    font-size: 30px;
    display: none;
    color: #1f1f1f;
}

#leftarrow,
#rightarrow {
    display: none;
    width: 80px;
    height: 80px;
    position: fixed;
    bottom: 50%;
    cursor: pointer;
    z-index: 1000;
}

#leftarrow span,
#rightarrow span {
    color: rgba(124, 124, 124, 0.7);
    font-size: 80px;
    transition-duration: .3s;
}

#leftarrow:hover span,
#rightarrow:hover span {
    color: rgb(208, 208, 208);
    font-size: 80px;
    text-shadow: 0 0 15px white;
}

#leftarrow {
     left: 10%;
 }

#rightarrow {
    right: 10%;
}

.hidden {
    display: none;
}